<div class="w-full max-w-full">
    <div
        class="md:py-10 flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute top-100 sm:inset-0 sm:overflow-hidden">

        <!-- Header -->
        <div
            class="relative flex flex-0 flex-col border-b px-6 pb-8 sm:flex-row sm:items-center sm:justify-between md:px-8">

            <!-- Title -->
            <div>
                <div class="text-4xl font-extrabold leading-none tracking-tight">
                </div>
                <div class="text-secondary -mt-10 md:mt-8 ml-4 flex items-center font-medium">
                    {{languagesCount}} idiomas
                </div>
            </div>
            <!-- Actions -->
            <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                        [placeholder]="'Buscar idiomas'" />
                </mat-form-field>
                <!-- Add language button -->
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openDetailsModal()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="hidden md:block ml-2 mr-1">Agregar</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden bg-card h-160">
            <!-- Languages list -->
            <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">

                <div class="grid">
                    <!-- Header -->
                    <div
                        class="languages-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8">
                        <div>#</div>
                        <div class="hidden md:block">Imágen</div>
                        <div>Idioma</div>
                        <div class="hidden md:block">
                            Código
                        </div>
                        <div class="hidden lg:block">
                            Estado
                        </div>
                        <div class="hidden lg:block"></div>
                        <div></div>
                    </div>
                    <!-- Rows -->
                    @if (languages$ | async; as languages) {
                    @if (languages.records.length > 0) {
                    @for (
                    language of languages.records;
                    track trackByFn($index, language)
                    ) {
                    <div class="languages-grid grid items-center gap-4 border-b px-6 py-3 md:px-8 bg-card">
                        <!-- # -->
                        <div class="truncate">
                            {{ $index +1}}
                        </div>

                        <!-- Image -->
                        <div class="hidden md:flex items-center">
                            <div
                                class="relative mr-6 flex h-12 w-12 flex-0 items-center justify-center overflow-hidden rounded border">
                                <img class="w-8" [alt]="'image'" [src]="getICon(language.icon)" />
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="truncate">
                            {{language.name | titlecase}}
                        </div>

                        <!-- Code -->
                        <div class="hidden truncate md:block">
                            {{language.lang | uppercase}}
                        </div>

                        <!-- Active -->
                        <div class="hidden lg:block">
                            @if (language.status) {
                            <button class="bg-primary-400 text-white font-semibold w-30" mat-flat-button>
                                Activo</button>
                            }
                            @if (!language.status) {
                            <button class="bg-gray-400 text-white font-semibold w-30" mat-flat-button> Inactivo</button>
                            }
                        </div>

                        <!-- Space -->
                        <div class="hidden lg:block"></div>

                        <!-- Actions button -->
                        <div class="flex items-center justify-between">
                            <button (click)="openDetailsModal(language)" mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </div>
                    }
                    <pagination [isLoading]="isLoading" [page]="languages.page" [limit]="10" [total]="languages.total"
                        [pages]="languages.totalPage" (pageEvent)="getAll($event)"></pagination>
                    } @else {
                    <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                        ¡No hay idiomas!
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
    </div>
</div>