<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="accountForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Fondos</div>
            <div class="text-secondary">
                Configura los fondo de tu aplicación.
            </div>
        </div>
        <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
            <div class="sm:col-span-4">
                <mat-label>Auth</mat-label>
                <div class="relative w-full">
                    <div class="absolute bottom-0 right-0 p-4">
                        <button mat-icon-button (click)="removeImage(null)">
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                        </button>
                    </div>
                    <img class="w-full object-cover"
                        [src]="'https://img.freepik.com/foto-gratis/majestuoso-pico-montana-tranquilo-paisaje-invernal-generado-ia_188544-15662.jpg'" />
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Iconos</div>
            <div class="text-secondary">
                Configura el ícono de tu aplicación.

            </div>
        </div>
        <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
            <div class="sm:col-span-4">
                <mat-label>Web</mat-label>
                <div class="relative w-50">
                    <div class="absolute bottom-0 right-0 p-4">
                        <button mat-icon-button (click)="removeImage(null)">
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                        </button>
                    </div>
                    <img class="w-full object-cover"
                        [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuViN7efAwB5dbdgcONdw73Omzm1fDYqFK9g&s'" />
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="mb-10 mt-11 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Logos</div>
            <div class="text-secondary">
                Configura los logos de tu aplicación.
            </div>
        </div>
        <div class="mt-8 w-full flex flex-row gap-4">
            <div class="sm:col-span-4">
                <div class="relative w-60">
                    <mat-label>Principal</mat-label>
                    <div class="absolute bottom-0 right-0 p-4">
                        <button mat-icon-button (click)="removeImage(null)">
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                        </button>
                    </div>
                    <img class="w-full object-cover"
                        [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuViN7efAwB5dbdgcONdw73Omzm1fDYqFK9g&s'" />
                </div>
            </div>
            <div class="sm:col-span-4">
                <div class="relative w-60">
                    <mat-label>Secundario</mat-label>
                    <div class="absolute bottom-0 right-0 p-4">
                        <button mat-icon-button (click)="removeImage(null)">
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                        </button>
                    </div>
                    <img class="w-full object-cover"
                        [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCiIZU2_B-cwF3LgRbkk9p0oEe4BZg8l9fxw&s'" />
                </div>
            </div>
            <div class="sm:col-span-4">
                <div class="relative w-60">
                    <mat-label>Email</mat-label>
                    <div class="absolute bottom-0 right-0 p-4">
                        <button mat-icon-button (click)="removeImage(null)">
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                        </button>
                    </div>
                    <img class="w-full object-cover"
                        [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCiIZU2_B-cwF3LgRbkk9p0oEe4BZg8l9fxw&s'" />
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="mb-10 mt-11 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">Cancelar</button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'">
                Guardar
            </button>
        </div>
    </form>
</div>