<div class="flex w-full flex-col">

    <!-- Header -->
    <div class="relative h-40 w-full bg-accent-100 px-8 dark:bg-accent-700 sm:h-48 sm:px-12">
        <!-- Close button -->
        <div class="mx-auto flex w-full max-w-3xl items-center justify-end pt-6">
            <a mat-icon-button [matTooltip]="'Cerrar'" [mat-dialog-close]="false">
                <mat-icon class="text-dark" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </a>
        </div>
    </div>

    <!-- Language form -->
    <div class="relative flex flex-auto flex-col items-center px-6 sm:px-12">
        <div class="w-full max-w-3xl">
            @if(validPermission(permission.viewLanguage)){
            <ng-container *ngTemplateOutlet="languageTemplateForm;"></ng-container>
            }@else {
            <permission [show]="true"></permission>
            }

        </div>
    </div>

</div>


<ng-template #languageTemplateForm>
    <form [formGroup]="languageForm">
        <!-- Avatar -->
        <div class="-mt-16 flex flex-auto items-end">
            <div
                class="ring-bg-card relative flex h-32 w-32 items-center justify-center overflow-hidden rounded-full ring-4">
                <!-- Upload / Remove avatar -->
                <div class="absolute inset-0 z-10 bg-black bg-opacity-50"></div>
                <div class="absolute inset-0 z-20 flex items-center justify-center">
                    <div>
                        <input id="avatar-file-input" class="pointer-events-none invisible absolute h-0 w-0 opacity-0"
                            type="file" [accept]="'image'" (change)="uploadFile($event)" #avatarFileInput />
                        <label
                            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-full hover:bg-hover"
                            for="avatar-file-input" matRipple>
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                        </label>
                    </div>
                </div>
                <!-- Icon -->
                @if (languageForm.get('icon').value) {
                <img class="h-full w-full object-cover" [src]="getICon(languageForm.get('icon').value)" />
                }
            </div>
            <div class="mb-1 ml-auto flex items-center">
                @if(language){
                @if(validPermission(permission.toogleLanguage)){
                <button mat-button [color]="language.status ?'warn' : 'primary'" (click)="toggleLanguage()">
                    @if (!languageForm.disabled) {
                    <span> @if(!language.status){
                        Activar
                        }@else {
                        Inactivar
                        }</span>
                    }
                    @if (languageForm.disabled) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>

                @if(validPermission(permission.editLanguage)){
                <!-- Save -->
                <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="languageForm.invalid"
                    [matTooltip]="'Guardar'" (click)="update()">
                    @if (!languageForm.disabled) {
                    <span> Guardar</span>
                    }
                    @if (languageForm.disabled) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>
                }
                }
                }@else {
                @if(validPermission(permission.createLanguage)){
                <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="languageForm.invalid"
                    [matTooltip]="'Guardar'" (click)="create()">
                    @if (!languageForm.disabled) {
                    <span> Guardar</span>
                    }
                    @if (languageForm.disabled) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>
                }
                }

            </div>
        </div>

        <!-- Title -->
        <div class="mt-3 truncate text-4xl font-bold">
            @if(language){
            Editar idioma
            }@else {
            Agregar idioma
            }
        </div>

        <!-- Name -->
        <div class="mt-8">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Idioma</mat-label>
                <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                <input matInput [formControlName]="'name'" [placeholder]="'Español'" [spellcheck]="false" />
                @if (languageForm.get('name').hasError('required')) {
                <mat-error>Se requiere idioma. </mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Code -->
        <div class="mt-8">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Código</mat-label>
                <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                    [svgIcon]="'heroicons_solid:language'"></mat-icon>
                <input matInput [formControlName]="'lang'" [placeholder]="'ES'" />
                @if (languageForm.get('lang').hasError('required')) {
                <mat-error>Se requiere código. </mat-error>
                }
            </mat-form-field>
        </div>



    </form>
</ng-template>