<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="micrositieForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">General</div>
            <div class="text-secondary">
                Información general de tu micrositio.
            </div>
        </div>
        <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Nombre</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:text_fields'" matPrefix></mat-icon>
                    <input [formControlName]="'name'" matInput />
                </mat-form-field>
            </div>

            <!-- Path -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Ruta</mat-label>
                    <div class="text-secondary" matPrefix>fusetheme.com/</div>
                    <input [formControlName]="'path'" matInput />
                </mat-form-field>
            </div>

            <!-- Description -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput [formControlName]="'description'" cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
                <div class="text-hint mt-1 text-md">
                    Breve descripción de tu micrositio.
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        @if(micrositie){
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Zona de peligro</div>
            <div class="text-secondary">
                Las opciones de esta sección son de administración del micrositio, ¡tenga cuidado!.
            </div>
        </div>
        <div class="mt-8 grid w-full grid-cols-1 gap-6 border border-warn p-4 rounded-md">
            <!--Desactivar -->
            <div class="flex items-center justify-between">
                <div class="flex-auto cursor-pointer" (click)="status.toggle()">
                    <div class="font-medium leading-6">
                        @if(micrositieForm.get('status').value ){
                        Desactivar
                        }@else {
                        Activar
                        }
                    </div>
                    <div class="text-secondary text-md">
                        Habilita/Deshabilita el micrositio.
                    </div>
                </div>
                <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'status'" #status>
                </mat-slide-toggle>
            </div>
        </div>


        <!-- Divider -->
        <div class="mb-10 mt-11 border-t"></div>
        }

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button [routerLink]="['/admin/modules/microsities']" mat-stroked-button type="button">Cancelar</button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'">
                Guardar
            </button>
        </div>
    </form>
</div>