<div class="w-full max-w-full bg-default">
    <div class="flex min-w-0 flex-auto flex-col dark:bg-transparent absolute -top-0 w-full -left-0">

        <div class="relative">
            <div class="sticky top-0 left-0 right-0w-full bg-card shadow-md p-3 z-10">
                <div class="flex items-center flex-col md:flex-row justify-between">
                    <div class="flex items-center justify-end">

                        <button mat-icon-button (click)="toggleFullscreen()"
                            [matTooltip]=" 'Alternar pantalla completa'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrows-pointing-out'"></mat-icon>
                        </button>

                    </div>
                    <div
                        class="my-3 md:my-0 flex items-center overflow-hidden rounded-full bg-gray-200 p-0.5 dark:bg-gray-700">
                        <button class="px-6" [ngClass]="{
                            'bg-card pointer-events-none shadow': preview === 'mobile',
                            'bg-transparent': preview !== 'mobile',
                        }" mat-flat-button (click)="preview = 'mobile'" disableRipple>
                            <mat-icon svgIcon="heroicons_outline:device-phone-mobile"></mat-icon>
                        </button>
                        <button class="px-6" [ngClass]="{
                            'bg-card pointer-events-none shadow': preview === 'tablet',
                            'bg-transparent': preview !== 'tablet',
                        }" mat-flat-button (click)="preview = 'tablet'" disableRipple>
                            <mat-icon svgIcon="heroicons_outline:device-tablet"></mat-icon>
                        </button>
                        <button class="px-6" [ngClass]="{
                            'bg-card pointer-events-none shadow': preview === 'desktop',
                            'bg-transparent': preview !== 'desktop',
                        }" mat-flat-button (click)="preview = 'desktop'" disableRipple>
                            <mat-icon svgIcon="heroicons_outline:computer-desktop"></mat-icon>
                        </button>
                    </div>
                    <div class="flex items-center justify-end">
                        <button (click)="goToBack()" mat-stroked-button type=" button">Cancelar</button>
                        @if(!preview){
                        <button class="ml-4" mat-flat-button type="button" [color]="'primary'">
                            Guardar
                        </button>
                        }@else {
                        <button (click)="preview = undefined" class="ml-4" mat-flat-button type="button"
                            [color]="'primary'">
                            Personalizar
                        </button>
                        }

                    </div>

                </div>
            </div>

            <div class="my-8 px-4 md:px-8 z-0">
                <!-- CONTENT GOES HERE -->

                <div class="min-h-200 rounded-2xl border-2 border-dashed border-gray-300"></div>
            </div>
        </div>

    </div>
</div>