<div class="flex w-full flex-col relative h-full">
    <!-- Header -->
    <div class="flex flex-row w-full justify-between items-start mb-3">
        <!-- Title -->
        <div class="truncate text-3xl w-3/4 font-bold mt-3">
            Configurar {{title | lowercase}}
        </div>
        <!-- Close button -->
        <div class="w-1/4 flex justify-end">
            <a mat-icon-button [matTooltip]="'Close'" [mat-dialog-close]="null">
                <mat-icon class="text-dark" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </a>
        </div>
    </div>

    <!-- content -->
    <div class="w-full h-full max-h-120 overflow-y-auto">
        <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">

            <mat-tab label="Estilos (CSS)">
                <ng-template matTabContent>
                    @if(validPermission(permission.editDesignTemplate) || validPermission(permission.editDesignPage)){
                        <div class="w-full py-2 flex items-center justify-between">
                        <span class="text-md italic text-secondary">Personaliza los estilos de tu {{title}}.</span>
                        <mat-icon [matTooltip]="'Ayuda'" class="icon-size-5 cursor-pointer"
                            [svgIcon]="'mat_solid:help'"></mat-icon>
                    </div>
                    <ngx-monaco-editor [formControl]="cssControl" class="h-160 md:h-160"
                        [options]="options"></ngx-monaco-editor>
                    }@else{
                    <permission></permission>
                    }
                </ng-template>
            </mat-tab>

            <mat-tab label="Propiedades">
                <ng-template matTabContent>
                    @if(validPermission(permission.editContentPage) || validPermission(permission.editContentTemplate)){
                        @if(!isElement){
                    <div class="w-full py-2 flex flex-col items-start justify-between">
                        <mat-label>Imágen de fondo</mat-label>
                        <div class="relative w-full">
                            <div class="absolute bottom-0 right-0 p-4">
                                <button mat-icon-button (click)="openImagesManager()">
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                                </button>
                                @if(config.backgroundImage!== ''){
                                <button mat-icon-button (click)="updateImage('')">
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button> }
                            </div>
                            @if(config.backgroundImage === ''){
                            <div class="h-52 w-full bg-gray-300 rounded-lg flex justify-center items-center mt-3">
                                <span class="-rotate-45 text-md md:text-2xl text-center">
                                    SIN IMÁGEN
                                </span>
                            </div>
                            }@else{
                            <img class="w-full object-cover rounded-md" [src]="getLogo()" alt="image" />
                            }
                        </div>
                    </div>
                    }@else {
                    <div class="w-full p-2 flex flex-col items-start justify-between">
                        @if(fields.length ===0 && !validImagePropertie()){
                        <div class="w-full p-2 text-center text-gray-500">
                            No hay propiedades para configurar.
                        </div>
                        }

                        <!-- IMAGE -->
                        @if(validImagePropertie()){
                        <div class="w-60 h-auto py-2 flex flex-col items-start justify-between mb-3">
                            <mat-label>Imagen/Icono</mat-label>
                            <div class="w-full mt-4 flex flex-col rounded-lg bg-gray-300">
                                <div class="w-full h-52 p-4 shadow-lg rounded-t-lg flex items-center justify-center">
                                    @if(config.image === ''){
                                    <div
                                        class="h-52 w-full bg-gray-300 rounded-lg flex justify-center items-center mt-3">
                                        <span class="-rotate-45 text-md md:text-2xl text-center">
                                            SIN IMÁGEN/ICONO
                                        </span>
                                    </div>
                                    }@else{
                                    <img class="w-full h-52 object-cover" [src]="getLogo()" alt="image" />
                                    }
                                </div>
                                <div
                                    class="p-1 rounded-b-lg h-auto flex flex-row justify-evenly items-center bg-default shadow-lg">
                                    <button [matTooltip]="'Cargar imagen'" mat-icon-button
                                        (click)="openImagesManager()">
                                        <mat-icon [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                                    </button>
                                    @if(config.image !== ''){
                                    <button [matTooltip]="'Remover imagen'" mat-icon-button (click)="updateImage('')">
                                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button> }
                                </div>
                            </div>
                        </div>
                        }

                        <!-- FORMS -->
                        <form class="w-full" [formGroup]="form">
                            <formly-form class="w-full" [form]="form" [fields]="fields" [model]="config"></formly-form>
                        </form>
                    </div>
                    }
                    }@else{
                    <permission></permission>
                    }
                </ng-template>
            </mat-tab>


            @if(isElement){
            <mat-tab label="Contenido">
                <ng-template matTabContent>
                    @if(validPermission(permission.editContentPage) || validPermission(permission.editContentTemplate)){
                    <languages-text [text]="text" [data]="dataText" (dataEvent)="setDataText($event)"></languages-text>
                    }@else{
                    <permission></permission>
                    }
                </ng-template>
            </mat-tab>
            }
        </mat-tab-group>
    </div>

    <!-- actions -->
    <div class="absolute -bottom-6 w-full md:w-140 -left-6 z-10">
        <div
            class="mt-10 flex items-center overflow-hidden justify-end border-t bg-gray-50 py-4 dark:bg-transparent pr-8">
            <!-- Cancel -->
            <button class="ml-auto" mat-button [matTooltip]="'Cancelar'" [mat-dialog-close]="null">
                Cancelar
            </button>
            <!-- Save -->
            <button [disabled]="form.invalid" (click)="save()" class="ml-2" mat-flat-button [color]="'primary'"
                [matTooltip]="'Guardar'">
                Guardar
            </button>
        </div>
    </div>

</div>