<div
  class="sections"
  cdkDropList
  cdkDropListOrientation="vertical"
  (cdkDropListDropped)="drop($event, sections())"
>
  <!-- Sections -->
  @if (!refreshGrid()) {
    @for (section of sections(); track section.uuid; let i = $index) {
      <section
        cdkDragBoundary=".sections"
        cdkDrag
        class="{{ 'grid-section-' + section.uuid }}"
        [cdkDragDisabled]="preview()"
        [ngClass]="{
          'group/sec border border-dashed border-indigo-500 bg-indigo-50/20 rounded-xl p-5 pt-7 ring-1 ring-indigo-600/10 relative my-2':
            !preview(),
          'border-2 border-solid!': selectedItemsInGrid()?.section?.uuid === section.uuid && !preview(),
        }"
      >
        <!-- Section Floating Controls Header -->
        @if (!preview()) {
          <div
            class="absolute -top-3.5 left-4 flex items-center gap-1.5 bg-indigo-600 text-white text-xs font-semibold px-2.5 py-0.5 rounded shadow-sm"
          >
            <i cdkDragHandle class="fa-solid fa-grip-vertical text-indigo-200 cursor-grab"></i>
            <span>Sección {{ i + 1 }}</span>
            <span class="text-[10px] font-normal opacity-80 pl-1"> ({{ section.uuid }}) </span>
          </div>

          <!-- Quick action toolbar for Section -->
          <div
            class="absolute -top-3.5 right-4 items-center hidden group-hover/sec:flex bg-white border border-slate-200 rounded-md shadow-sm divide-x divide-slate-100 text-slate-600 text-xs"
          >
            <button
              (click)="selectSection(section)"
              class="cursor-pointer px-2 py-1 hover:text-slate-600 hover:bg-slate-50 flex items-center gap-1"
              appTooltip="Configurar"
            >
              <i class="fa-solid fa-sliders text-slate-600"></i>
            </button>

            @if (editDesign()) {
              <button
                (click)="addRow(section)"
                class="cursor-pointer px-2 py-1 hover:text-slate-600 hover:bg-slate-50 flex items-center gap-1"
                appTooltip="Nueva fila"
              >
                <i class="fa-solid fa-plus text-slate-600"></i>
              </button>

              <button
                (click)="deleteSection(section.uuid)"
                class="cursor-pointer px-2 py-1 hover:text-rose-600 hover:bg-rose-50 flex items-center gap-1"
                appTooltip="Eliminar sección"
              >
                <i class="fa-solid fa-trash text-rose-500"></i>
              </button>
            }
          </div>
        }

        <div
          class="rows"
          cdkDropList
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="drop($event, section.rows)"
        >
          <!-- Rows -->
          @for (row of section.rows; track row.uuid; let rowIndex = $index) {
            <!-- Row -->
            <div
              cdkDragBoundary=".rows"
              cdkDrag
              class="{{ 'grid-row-' + row.uuid }} "
              [cdkDragDisabled]="preview()"
              [ngClass]="{
                'group/row border border-dashed border-amber-300 hover:border-amber-400 bg-amber-50/20 rounded-lg p-4 pt-6 relative my-2':
                  !preview(),
                'border-2 border-solid!': selectedItemsInGrid()?.row?.uuid === row.uuid && !preview(),
              }"
            >
              <!-- Row Badge -->
              @if (!preview()) {
                <div
                  class="absolute -top-2.5 left-3 bg-amber-500 text-white text-[10px] font-semibold px-2 py-0.5 rounded-full flex items-center gap-1 shadow-sm"
                >
                  <i cdkDragHandle class="fa-solid fa-grip-vertical cursor-grab"></i>
                  <span> Fila {{ rowIndex + 1 }} ({{ row.uuid }}) </span>
                  <span class="text-[9px] opacity-75"> columnas: {{ row.columns.length }} </span>
                </div>

                <!-- Quick action toolbar for Row -->
                <div
                  class="absolute -top-3.5 right-4 items-center hidden group-hover/row:flex bg-white border border-slate-200 rounded-md shadow-sm divide-x divide-slate-100 text-slate-600 text-xs"
                >
                  <button
                    (click)="selectRow(row)"
                    class="cursor-pointer px-2 py-1 hover:text-slate-600 hover:bg-slate-50 flex items-center gap-1"
                    appTooltip="Configurar"
                  >
                    <i class="fa-solid fa-sliders text-slate-600"></i>
                  </button>

                  @if (editDesign()) {
                    <button
                      (click)="addColumn(row)"
                      class="cursor-pointer px-2 py-1 hover:text-slate-600 hover:bg-slate-50 flex items-center gap-1"
                      appTooltip="Nueva columna"
                    >
                      <i class="fa-solid fa-plus"></i>
                    </button>
                    <button
                      (click)="deleteRow(row.uuid, section)"
                      class="cursor-pointer px-2 py-1 hover:text-rose-600 hover:bg-rose-50 flex items-center gap-1"
                      appTooltip="Eliminar fila"
                    >
                      <i class="fa-solid fa-trash text-rose-500"></i>
                    </button>
                  }
                </div>
              }

              <!-- Columns Container -->
              <div
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event, row.columns)"
                [ngClass]="{
                  'flex-row': previewType() === 'desktop' || previewType() === 'none',
                  'flex-col': previewType() !== 'desktop' && previewType() !== 'none',
                }"
                class="flex columns"
              >
                <!-- Columns -->
                @for (column of row.columns; track column.uuid; let columnIndex = $index) {
                  <div
                    cdkDragBoundary=".columns"
                    cdkDrag
                    [cdkDragDisabled]="preview()"
                    class="{{ 'grid-column-' + column.uuid }} flex flex-col!"
                    [ngClass]="{
                      'flex-row w-full!': previewType() !== 'desktop' && previewType() !== 'none',
                      'group/column border m-0.5 border-dashed border-slate-300 rounded-lg p-4 min-h-40 bg-white-500/40 hover:bg-white hover:border-slate-400 flex flex-col justify-between relative':
                        !preview(),
                      'border-2 border-solid!': selectedItemsInGrid()?.column?.uuid === column.uuid && !preview(),
                    }"
                  >
                    <!-- Column Top Controls -->
                    @if (!preview()) {
                      <div
                        class="flex flex-row items-center justify-between text-[11px] text-slate-400 pb-2 border-b border-slate-100 mb-2 w-full"
                      >
                        <i cdkDragHandle class="fa-solid fa-grip-vertical cursor-grab"></i>
                        <span class="font-medium text-slate-500"> Columna {{ column.uuid }} </span>
                        @if (column.element !== null) {
                          <div class="flex items-center gap-1">
                            <span
                              class="text-[9px] bg-indigo-100 text-indigo-700 px-1.5 py-0.5 rounded font-bold"
                            >
                              Elemento {{ column.element.name }}
                            </span>
                            <i
                              class="w-3.5 h-3.5 text-slate-400 hover:text-slate-600 cursor-pointer"
                            ></i>
                          </div>
                        }
                        <i class="fa-solid fa-ellipsis-vertical text-slate-400 cursor-pointer"></i>
                      </div>

                      <!-- Quick action toolbar for Row -->
                      <div
                        class="absolute -top-3.5 right-4 items-center hidden group-hover/column:flex bg-white border border-slate-200 rounded-md shadow-sm divide-x divide-slate-100 text-slate-600 text-xs"
                      >
                        <button
                          (click)="selectColumn(column)"
                          class="cursor-pointer px-2 py-1 hover:text-slate-600 hover:bg-slate-50 flex items-center gap-1"
                          appTooltip="Configurar"
                        >
                          <i class="fa-solid fa-sliders text-slate-600"></i>
                        </button>

                        @if (editDesign()) {
                          <button
                            (click)="deleteColumn(column.uuid, row)"
                            class="cursor-pointer px-2 py-1 hover:text-rose-600 hover:bg-rose-50 flex items-center gap-1"
                            appTooltip="Eliminar columna"
                          >
                            <i class="fa-solid fa-trash text-rose-500"></i>
                          </button>
                        }
                      </div>
                    }

                    <!-- Empty Column -->
                    @if (column.element == null) {
                      @if (!preview()) {
                        <div
                          (click)="openElementsMangerModal(column)"
                          class="text-center py-6 text-slate-400 hover:text-indigo-600 cursor-pointer flex flex-col items-center gap-1 w-full m-auto"
                        >
                          <div
                            class="w-7 h-7 rounded-full border border-dashed border-slate-300 flex items-center justify-center"
                          >
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <span class="text-[10px]"> Espacio vacío para contenido </span>
                        </div>
                      }
                    } @else {
                      <!-- Element -->
                      <div
                        [ngClass]="{
                          'py-2 border border-dashed border-emerald-200 bg-emerald-50/50 rounded-lg p-3 relative flex flex-col items-center justify-center group/element':
                            !preview(),
                          'border-2 border-solid!':
                            selectedItemsInGrid()?.element?.uuid === column.element.uuid && !preview(),
                        }"
                      >
                        <elements
                          class="w-full h-auto"
                          [languageId]="languageId()!"
                          [element]="column.element"
                        />

                        <!-- Element Overlay / Controls -->
                        @if (!preview()) {
                          <div
                            class="absolute inset-0 bg-black/20 backdrop-blur-[1px] opacity-0 group-hover/element:opacity-100 rounded-lg flex items-center justify-center gap-2 transition-opacity"
                          >
                            <button
                              (click)="selectElement(column.element)"
                              class="cursor-pointer bg-white text-slate-800 text-[11px] font-semibold px-2.5 py-1 rounded shadow-md hover:bg-slate-50 flex items-center gap-1"
                              appTooltip="Configurar"
                            >
                              <i class="fa-solid fa-sliders text-slate-600"></i>
                            </button>
                            @if (editDesign()) {
                              <button
                                appTooltip="Eliminar"
                                (click)="deleteElement(column)"
                                class="cursor-pointer bg-white text-rose-800 text-[11px] font-semibold px-2.5 py-1 rounded shadow-md hover:bg-rose-50 flex items-center gap-1"
                              >
                                <i class="fa-solid fa-trash text-rose-600"></i>
                              </button>
                            }
                          </div>
                        }
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </section>
    }
  }
</div>
