<!-- Sections -->
<div class="sections" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event,grid)">
    @for (section of grid; track trackByFn($index, section)) {
    <div cdkDragBoundary=".sections" cdkDrag [cdkDragDisabled]="preview"
        [ngClass]="{'min-h-40 rounded-lg border border-dashed border-sky-300 mx-4 my-2': !preview}"
        class="flex flex-col {{'grid-section-'+section.uuid}}">
        <!-- Options -->
        @if(!preview){
        <div class="text-lg font-semibold flex justify-between items-center px-2">
            @if(editDesign){
            <button cdkDragHandle mat-icon-button>
                <mat-icon [matTooltip]="'Arrastrar y soltar'" [svgIcon]="'mat_solid:drag_indicator'"></mat-icon>
            </button>
            }@else {
            <div class="w-10"></div>
            }
            Sección {{section.uuid}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="secctionMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="
                        'heroicons_mini:ellipsis-vertical'
                    "></mat-icon>
                </button>
                <mat-menu #secctionMenu="matMenu">
                    <button (click)="openSettingsModal(section,'sección',false)" mat-menu-item>
                        <mat-icon [svgIcon]="'heroicons_outline:cog-6-tooth'"></mat-icon>
                        Configurar
                    </button>
                    @if(editDesign){
                    <button (click)="addRow(section)" mat-menu-item>
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        Nueva fila
                    </button>
                    <button (click)="deleteSection(section.uuid)" mat-menu-item class="text-warn">
                        <mat-icon [color]="'warn'" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        Eliminar
                    </button>
                    }
                </mat-menu>
            </div>
        </div>
        }

        <!-- Rows -->
        <div class="rows" cdkDropList cdkDropListOrientation="vertical"
            (cdkDropListDropped)="drop($event,section.rows)">
            @for (row of section.rows; track trackByFn($index, row)) {
            <div cdkDragBoundary=".rows" cdkDrag [cdkDragDisabled]="preview"
                [ngClass]="{'min-h-40 rounded-lg border border-dashed border-orange-300 mx-4 my-2': !preview}"
                class="flex flex-col {{'grid-row-'+row.uuid}}">

                <!-- Options -->
                @if(!preview){
                <div class="text-lg font-semibold flex justify-between items-center px-2">
                    @if(editDesign){
                    <button cdkDragHandle mat-icon-button>
                        <mat-icon [matTooltip]="'Arrastrar y soltar'" [svgIcon]="'mat_solid:drag_indicator'"></mat-icon>
                    </button>
                    }@else {
                    <div class="w-10"></div>
                    }
                    Fila {{row.uuid}}
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="rowMenu">
                            <mat-icon class="icon-size-5" [svgIcon]="
                                'heroicons_mini:ellipsis-vertical'
                            "></mat-icon>
                        </button>
                        <mat-menu #rowMenu="matMenu">
                            <button (click)="openSettingsModal(row,'fila',false)" mat-menu-item>
                                <mat-icon [svgIcon]="'heroicons_outline:cog-6-tooth'"></mat-icon>
                                Configurar
                            </button>
                            @if(editDesign){
                            <button (click)="addColumn(row)" mat-menu-item>
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                Nueva columna
                            </button>
                            <button (click)="deleteRow(row.uuid,section)" mat-menu-item class="text-warn">
                                <mat-icon [color]="'warn'" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                Eliminar
                            </button>
                            }
                        </mat-menu>
                    </div>
                </div>
                }
                <!-- Columns -->
                <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event,row.columns)"
                    [ngClass]="{'flex-row':previewType === 'desktop' || previewType === 'none','flex-col':previewType !== 'desktop' && previewType !== 'none'}"
                    class="flex columns">
                    @for (column of row.columns; track trackByFn($index, column)) {
                    <div cdkDragBoundary=".columns" cdkDrag [cdkDragDisabled]="preview"
                        [ngClass]="{'w-full flex-row':previewType === 'mobile' || previewType === 'tablet','min-h-40 rounded-lg border border-dashed border-purple-300 mx-4 my-2': !preview}"
                        class="flex-col {{'grid-column-'+column.uuid}}">
                        <!-- Options -->
                        @if(!preview){
                        <div class="text-lg w-full font-semibold flex justify-between items-center px-2">
                            @if(editDesign){
                            <button cdkDragHandle mat-icon-button>
                                <mat-icon [matTooltip]="'Arrastrar y soltar'"
                                    [svgIcon]="'mat_solid:drag_indicator'"></mat-icon>
                            </button>
                            }@else {
                            <div class="w-10"></div>
                            }
                            Columna {{column.uuid}}
                            <div>
                                <button mat-icon-button [matMenuTriggerFor]="columnOptions">
                                    <mat-icon class="icon-size-5" [svgIcon]="
                                        'heroicons_mini:ellipsis-vertical'
                                    "></mat-icon>
                                </button>
                                <mat-menu #columnOptions="matMenu">
                                    <button (click)="openSettingsModal(column,'columna',false)" mat-menu-item>
                                        <mat-icon [svgIcon]="'heroicons_outline:cog-6-tooth'"></mat-icon>
                                        Configurar
                                    </button>
                                    @if(editDesign){
                                    @if(column.element === null){
                                    <button (click)="openElementsMangerModal(column)" mat-menu-item>
                                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                        Agregar elemento
                                    </button>
                                    }
                                    <button (click)="deleteColumn(column.uuid,row)" mat-menu-item class="text-warn">
                                        <mat-icon [color]="'warn'" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                        Eliminar
                                    </button>
                                    }


                                </mat-menu>
                            </div>
                        </div>
                        }
                        @if(column.element !== null){
                        <div [ngClass]="{'p-2 min-h-40 rounded-lg border border-dashed border-pink-300': !preview }"
                            class="w-auto">
                            <!-- Options -->
                            @if(!preview){
                            <div class="text-sm font-semibold flex justify-between items-center px-2">
                                Elemento {{column.element.name}}
                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="elementOptions">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                                    </button>
                                    <mat-menu #elementOptions="matMenu">
                                        <button (click)="openSettingsModal(column.element, column.element.name,true)"
                                            mat-menu-item>
                                            <mat-icon [svgIcon]="'heroicons_outline:cog-6-tooth'"></mat-icon>
                                            Configurar
                                        </button>
                                        @if(editDesign){
                                        <button (click)="deleteElement(column)" mat-menu-item class="text-warn">
                                            <mat-icon [color]="'warn'" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            Eliminar
                                        </button>
                                        }

                                    </mat-menu>
                                </div>
                            </div>
                            }

                            <!-- Element -->
                            <div class="h-auto w-full" [ngClass]="{'flex items-center justify-center p-2': !preview}">
                                @if(!refreshElement()){
                                <elements class="w-full h-auto" [languageId]="languageId" [element]="column.element">
                                </elements>
                                }
                            </div>
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>