<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <!-- Main -->
    <div class="flex-auto">
        <!-- Header -->
        <div
            class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
            <!-- Title -->
            <div>
                <div class="text-4xl font-extrabold leading-none tracking-tight">
                    Usuarios</div>
                <div class="text-secondary mt-0.5 flex items-center font-medium">
                    {{contactsCount}} usuarios
                </div>
            </div>

            <!-- Actions -->
            <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                        [placeholder]="'Buscar usuarios'" />
                </mat-form-field>
                <!-- Add user button -->
                <button (click)="openDetailsModal()" class="ml-4" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Agregar</span>
                </button>
            </div>
        </div>

        <!-- Users list -->
        <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
            <!-- @if (contacts$ | async; as contacts) { -->
            @if (users.length) {
            @for (
            user of users;
            track trackByFn(i, user);
            let i = $index
            ) {
            <!-- Group -->
            @if (
            i === 0 ||
            user.name.charAt(0) !==
            users[i - 1].name.charAt(0)
            ) {
            <div
                class="text-secondary sticky top-0 z-10 -mt-px border-b border-t bg-gray-50 px-6 py-1 font-medium uppercase dark:bg-gray-900 md:px-8">
                {{ user.name.charAt(0) }}
            </div>
            }
            <!-- Contact -->
            <a class="z-20 flex cursor-pointer items-center border-b px-6 py-4 md:px-8" [ngClass]="{
                                'dark:hover:bg-hover hover:bg-gray-100':
                                    !selectedContact ||
                                    selectedContact.id !== contact.id,
                                'bg-primary-50 dark:bg-hover':
                                    selectedContact &&
                                    selectedContact.id === contact.id,
                            }">
                <div class="flex h-10 w-10 flex-0 items-center justify-center overflow-hidden rounded-full">
                    <div
                        class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                        {{ user.name.charAt(0) }}{{ user.lastname.charAt(0) }}
                    </div>
                </div>
                <div class="ml-4 min-w-0">
                    <div class="truncate font-medium leading-5">
                        {{ user.name }} {{user.lastName}}
                    </div>
                    <div class="text-secondary truncate leading-5">
                        {{ user.email }}
                    </div>
                </div>

                <div class="flex items-center sm:ml-auto">
                    <div class="ml-4 sm:ml-0">
                        <div class="bg-card w-30 text-justify font-medium border p-3 rounded-md shadow-sm">
                            <span class="font-normal me-1 text-md">
                                Rol:
                            </span>
                            <span class="font-semibold text-sm">
                                {{ user.roleId }}
                            </span>
                        </div>
                    </div>
                    <div class="flex items-center justify-between ml-2">
                        <button (click)="openDetailsModal(user)" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>

            </a>
            }
            <mat-paginator
                class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                [ngClass]="{ 'pointer-events-none': isLoading }" [length]="100" [pageIndex]="1" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
            } @else {
            <!-- No contacts -->
            <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                ¡No hay usuarios!
            </div>
            }
            <!-- } -->

        </div>
    </div>
</div>