<div class="w-full max-w-full">
    <div
        class="md:py-10 flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute top-100 sm:inset-0 sm:overflow-hidden">

        <!-- Header -->
        <div
            class="relative flex flex-0 flex-col border-b px-6 pb-8 sm:flex-row sm:items-center sm:justify-between md:px-8">

            <!-- Title -->
            <div>
                <div class="text-4xl font-extrabold leading-none tracking-tight">
                </div>
                <div class="text-secondary -mt-10 md:mt-8 ml-4 flex items-center font-medium">
                    10 páginas
                </div>
            </div>
            <!-- Actions -->
            <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                        [placeholder]="'Buscar páginas'" />
                </mat-form-field>
                <!-- Add page button -->
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="goToDetail()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="hidden md:block ml-2 mr-1">Agregar</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden bg-card h-160">
            <!-- Languages list -->
            <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
                <!-- @if (products$ | async; as products) { -->
                @if (pages.length > 0) {
                <div class="grid">
                    <!-- Header -->
                    <div class="pages-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        matSort matSortDisableClear>
                        <div>#</div>
                        <div class="hidden md:block" [mat-sort-header]="'name'">
                            Nombre
                        </div>
                        <div [mat-sort-header]="'path'">Descripción</div>
                        <div class="hidden sm:block" [mat-sort-header]="'micrositeId'">
                            Ruta
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'status'">
                            Estado
                        </div>
                        <div class="hidden lg:block"></div>
                        <div></div>
                    </div>
                    <!-- Rows -->
                    <!-- @if (products$ | async; as products) {-->
                    @for (
                    page of pages;
                    track trackByFn($index, page)
                    ) {

                    <div class="pages-grid grid items-center gap-4 border-b px-6 py-3 md:px-8 bg-card">
                        <!-- # -->
                        <div class="truncate">
                            {{ $index +1}}
                        </div>

                        <!-- Name -->
                        <div class="hidden truncate md:block">
                            {{ page.name }}
                        </div>

                        <!-- Description -->
                        <div class="truncate">
                            {{ page.description }}
                        </div>

                        <!-- Path -->
                        <div class="hidden truncate sm:block">
                            {{ page.path }}
                        </div>


                        <!-- Active -->
                        <div class="hidden lg:block">
                            @if (page.status) {
                            <button class="bg-primary-400 text-white font-semibold w-30" mat-flat-button>
                                Activo</button>
                            }
                            @if (!page.status) {
                            <button class="bg-gray-400 text-white font-semibold w-30" mat-flat-button> Inactivo</button>
                            }
                        </div>

                        <!-- Space -->
                        <div class="hidden lg:block">
                        </div>

                        <!-- Actions button -->
                        <div class="flex items-center justify-between">
                            <button (click)="goToDetail(page)" mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </div>
                    }
                </div>
                <mat-paginator
                    class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                    [ngClass]="{ 'pointer-events-none': isLoading }" [length]="100" [pageIndex]="1" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
                } @else {
                <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                    ¡No hay págians!
                </div>
                }
            </div>
        </div>
    </div>
</div>