@if(!loading()){
<div class="w-full h-fulL">
    <div class="w-full header">
        <grid [gridType]="'header'" [languageId]="languageId" [grid]="header()" [preview]="true"
            [previewType]="previewType()"></grid>
    </div>
    <div class="w-full body">
        <grid [gridType]="'body'" [languageId]="languageId" [grid]="body()" [preview]="true"
            [previewType]="previewType()">
        </grid>
    </div>
    <div class="w-full footer">
        <grid [gridType]="'footer'" [languageId]="languageId" [grid]="footer()" [preview]="true"
            [previewType]="previewType()"></grid>
    </div>
</div>
}