<div class="w-full h-full flex flex-col overflow-auto">
    <div class="flex flex-col header overflow-hidden">
        <grid [grid]="header()" [preview]="true" [previewType]="previewType()"></grid>
    </div>
    <div class="flex flex-col body overflow-hidden bg-">
        <grid [grid]="body()" [preview]="true" [previewType]="previewType()">
        </grid>
    </div>
    <div class="flex flex-col footer overflow-hidden">
        <grid [grid]="footer()" [preview]="true" [previewType]="previewType()"></grid>
    </div>
</div>