<!-- Notifications toggle -->
<button mat-icon-button (click)="openPanel()" #notificationsOrigin>
    @if (unreadCount > 0) {
    <span class="absolute left-0 right-0 top-0 flex h-3 items-center justify-center">
        <span
            class="ml-4 mt-2.5 flex h-4 min-w-4 shrink-0 items-center justify-center rounded-full bg-teal-600 px-1 text-xs font-medium text-indigo-50">
            {{ unreadCount }}
        </span>
    </span>
    }
    <mat-icon [svgIcon]="'heroicons_outline:bell'"></mat-icon>
</button>

<!-- Notifications panel -->
<ng-template #notificationsPanel>
    <div
        class="fixed inset-0 flex flex-col overflow-hidden shadow-lg sm:static sm:inset-auto sm:w-90 sm:min-w-90 sm:rounded-2xl">
        <!-- Header -->
        <div class="flex shrink-0 items-center bg-primary py-4 pl-6 pr-4 text-on-primary">
            <div class="-ml-1 mr-3 sm:hidden">
                <button mat-icon-button (click)="closePanel()">
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Notificaciones</div>
            <div class="ml-auto">
                <button class="dark:text-white" mat-icon-button>
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:envelope-open'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Content -->
        <div class="bg-card relative flex flex-auto flex-col divide-y overflow-y-auto sm:max-h-120">
            <!-- Notifications -->
            @for ( notification of notifications; track $index ) {
            <div class="group unread flex hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 px-2">
                <a (click)="goTo(notification)" class="flex flex-auto cursor-pointer py-5 pl-6">
                    <ng-container *ngTemplateOutlet="notificationContent"></ng-container>
                </a>
            </div>

            <!-- Notification content template -->
            <ng-template #notificationContent>
                <!-- Icon -->
                <div
                    class="mr-4 flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-100 dark:bg-gray-700">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:star'">
                    </mat-icon>
                </div>

                <!-- Message -->
                <div class="flex flex-auto flex-col">

                    @if (notification.message) {
                    <div class="line-clamp-2" [innerHTML]="notification.message"></div>
                    }

                </div>
            </ng-template>
            }

            <!-- No notifications -->
            @if (!notifications || !notifications.length) {
            <div class="flex flex-auto flex-col items-center justify-center px-8 py-12 sm:justify-start">
                <div
                    class="flex h-14 w-14 flex-0 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-600">
                    <mat-icon class="text-primary-700 dark:text-primary-50"
                        [svgIcon]="'heroicons_outline:bell'"></mat-icon>
                </div>
                <div class="mt-5 text-2xl font-semibold tracking-tight">
                    Sin notificaciones
                </div>
                <div class="text-secondary mt-1 w-full max-w-60 text-center text-md">
                    Cuando tengas notificaciones, aparecerán aquí.
                </div>
            </div>
            }
        </div>
    </div>
</ng-template>