<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="emailForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">General</div>
            <div class="text-secondary">
                Administra las creedenciales de tu servicio de envio de correos electrónicos.
            </div>
        </div>
        <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
            <!-- Host -->
            <div class="sm:col-span-3">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Host</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:building-office-2'" matPrefix></mat-icon>
                    <input [formControlName]="'host'" matInput />
                </mat-form-field>
            </div>

            <!-- Port -->
            <div class="sm:col-span-1">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Puerto</mat-label>
                    <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon> -->
                    <input [formControlName]="'port'" matInput />
                </mat-form-field>
            </div>

            <!-- Username -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Usuario</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                    <input [formControlName]="'username'" matInput />
                </mat-form-field>
            </div>

            <!-- Password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" [formControlName]="'password'" matInput />
                    <button mat-icon-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'" matSuffix></mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <!-- Email -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Correo electrónico para envios</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:envelope'" matPrefix></mat-icon>
                    <input [formControlName]="'email'" matInput />
                </mat-form-field>
            </div>

        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Prueba</div>
            <div class="text-secondary">
                Pon a prueba el servicio de envio de correos electrónicos.
            </div>
        </div>
        <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
            <!-- Email -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Correo electrónico para prueba</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:envelope'" matPrefix></mat-icon>
                    <input matInput [placeholder]="'Ingrese su correo electrónico'" />
                    <button mat-icon-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:send'" matSuffix></mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mb-10 mt-11 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">Cancelar</button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'">
                Guardar
            </button>
        </div>
    </form>
</div>