<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">

        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold leading-none tracking-tight">
                Páginas</div>
            <div class="text-secondary mt-0.5 flex items-center font-medium">
                {{pagesCount}} páginas
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                    [placeholder]="'Buscar páginas'" />
            </mat-form-field>
            <!-- Add page button -->
            <button (click)="goToDetail()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">

            <div class="grid">
                <!-- Header -->
                <div
                    class="pages-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8">
                    <div>#</div>
                    <div class="hidden md:block">
                        Nombre
                    </div>
                    <div>Ruta</div>
                    <div class="hidden lg:block">
                        Estado
                    </div>
                    <div class="hidden lg:block"></div>
                    <div></div>
                </div>
                <!-- Rows -->
                @if (pages$ | async; as pages) {
                @if (pages.records.length > 0) {
                @for (
                page of pages.records;
                track trackByFn($index, page)
                ) {
                <div class="pages-grid grid items-center gap-4 border-b px-6 py-3 md:px-8">

                    <!-- # -->
                    <div class="truncate">
                        {{ $index +1}}
                    </div>

                    <!-- Name -->
                    <div [matTooltip]="page.name" class="hidden truncate md:block">
                        {{ page.name }}
                    </div>

                    <!-- Path -->
                    <div class="truncate">
                        {{ page.path }}
                    </div>


                    <!-- Active -->
                    <div class="hidden lg:block">
                        @if (page.status) {
                        <button class="bg-primary-400 text-white font-semibold w-30" mat-flat-button>
                            Activo</button>
                        }
                        @if (!page.status) {
                        <button class="bg-gray-400 text-white font-semibold w-30" mat-flat-button> Inactivo</button>
                        }
                    </div>

                    <!-- Space -->
                    <div class="hidden lg:block">
                    </div>

                    <!-- Actions button -->
                    <div class="flex items-center justify-between">
                        <button (click)="goToDetail(page)" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>
                }
                <pagination [isLoading]="isLoading" [page]="pages.page" [limit]="10" [total]="pages.total"
                    [pages]="pages.totalPage" (pageEvent)="getAll($event)"></pagination> }
                @else {
                <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                    ¡No hay páginas!
                </div>
                }
                }
            </div>
        </div>
    </div>
</div>