<div class="w-full max-w-3xl">
    <form [formGroup]="languageForm">

        <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">

            <mat-tab label="Español - Ecuador">
                <ng-template matTabContent>
                    <div class="p-3 -mt-4 grid w-full gap-6 sm:grid-cols-4">
                        <!-- Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Alias</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:text_fields'"
                                    matPrefix></mat-icon>
                                <input [formControlName]="'alias'" matInput />
                            </mat-form-field>
                        </div>

                        <!-- Description -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput [formControlName]="'description'" cdkTextareaAutosize
                                    [cdkAutosizeMinRows]="5"></textarea>
                            </mat-form-field>
                            <div class="text-hint mt-1 text-md">
                                Breve descripción de tu página.
                            </div>
                        </div>

                        <!-- Keywords -->
                        <div class="sm:col-span-4">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>Palabras clave</mat-label>
                                <mat-chip-grid #chipGrid02>
                                    <mat-chip-row [editable]="true">
                                        Lemon
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip-row>
                                    <mat-chip-row [editable]="true">
                                        Lime
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip-row>
                                    <mat-chip-row [editable]="true">
                                        Apple
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip-row>
                                    <input [placeholder]="'Nueva palabra...'" [matChipInputFor]="chipGrid02" />
                                </mat-chip-grid>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="Ingles - Estados Unidos">
                <ng-template matTabContent>
                    <div class="p-3 -mt-4 grid w-full gap-6 sm:grid-cols-4">
                        <!-- Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Alias</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:text_fields'"
                                    matPrefix></mat-icon>
                                <input [formControlName]="'alias'" matInput />
                            </mat-form-field>
                        </div>

                        <!-- Description -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput [formControlName]="'description'" cdkTextareaAutosize
                                    [cdkAutosizeMinRows]="5"></textarea>
                            </mat-form-field>
                            <div class="text-hint mt-1 text-md">
                                Breve descripción de tu página.
                            </div>
                        </div>

                        <!-- Keywords -->
                        <div class="sm:col-span-4">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>Palabras clave</mat-label>
                                <mat-chip-grid #chipGrid02>
                                    <mat-chip-row [editable]="true">
                                        Lemon
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip-row>
                                    <mat-chip-row [editable]="true">
                                        Lime
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip-row>
                                    <mat-chip-row [editable]="true">
                                        Apple
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip-row>
                                    <input [placeholder]="'Nueva palabra...'" [matChipInputFor]="chipGrid02" />
                                </mat-chip-grid>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>


        </mat-tab-group>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button (click)="goToBack()" mat-stroked-button type="button">Cancelar</button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'">
                Guardar
            </button>
        </div>
    </form>

</div>