<div class="w-full max-w-full bg-default">
    @if(validPermission(permission.editContentPage)){
    <form [formGroup]="languageForm">

        <mat-tab-group formArrayName="languages" mat-stretch-tabs="false" [animationDuration]="'0'">

            @for (language of languagesFormArray.controls; track $index) {
            <mat-tab [label]="getLanguageName(language['controls'].languageId.value)">
                <ng-template matTabContent>
                    <div formGroupName="{{$index}}" class="p-3 -mt-4 grid w-full gap-6 sm:grid-cols-4">
                        <!-- Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Alias</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:text_fields'"
                                    matPrefix></mat-icon>
                                <input [formControlName]="'alias'" matInput />
                                @if (language['controls'].alias.hasError('required')) {
                                <mat-error>Se requiere alias. </mat-error>
                                }
                            </mat-form-field>
                        </div>

                        <!-- Description -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput [formControlName]="'description'" rows="5"></textarea>
                                @if (language['controls'].description.hasError('required')) {
                                <mat-error>Se requiere descripción. </mat-error>
                                }
                                @if (language['controls'].description.hasError('maxlength')) {
                                <mat-error>Descripción permite un máximo de 255 caracteres. </mat-error>
                                }
                            </mat-form-field>
                            <div class="text-hint mt-1 text-md">
                                Breve descripción de tu página.
                            </div>
                        </div>

                        <!-- Keywords -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Palabras clave</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:text_fields'"
                                    matPrefix></mat-icon>
                                <input [formControlName]="'keywords'" matInput />
                                @if (language['controls'].keywords.hasError('required')) {
                                <mat-error>Se requiere palabras clave. </mat-error>
                                }
                                @if (language['controls'].keywords.hasError('maxlength')) {
                                <mat-error>Palabras clave permite un máximo de 255 caracteres. </mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            }
        </mat-tab-group>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button (click)="goToBack()" mat-stroked-button type="button">Cancelar</button>
            <button (click)="update()" class="ml-4" mat-flat-button type="button" [color]="'primary'">
                @if (!languageForm.disabled) {
                <span> Guardar</span>
                }
                @if (languageForm.disabled) {
                <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                }
            </button>
        </div>
    </form>
    }
    @else {
    <permission></permission>
    }
</div>