<div class="w-full h-full min-h-0 flex flex-col overflow-hidden">
  <section
    data-aos="fade-left"
    data-aos-duration="1000"
    class="w-full h-full min-h-0 flex flex-col overflow-hidden rounded-2xl border border-slate-200/80 bg-white shadow-sm"
  >
    <div class="shrink-0 p-3 lg:p-6 pb-1! bg-white">
      <!-- Header -->
      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        class="flex flex-col md:flex-row md:items-center justify-between gap-3 pb-1"
      >
        <title-header-component
          [total]="totalMicrosities()"
          [info]="totalMicrosities() > 1 ? 'micrositios' : 'micrositio'"
        />

        <!-- Action -->
        <div class="flex items-center justify-end gap-2">
          @if (validPermission(permission.createMicrosite)) {
            <button
              (click)="openDetailsModal(null)"
              type="button"
              class="cursor-pointer h-10 flex items-center justify-center py-3 px-4 rounded-lg shadow-sm text-sm font-semibold text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 active:scale-[0.99] transition"
            >
              <span class="flex items-center justify-center gap-2">
                <i class="fa-solid fa-plus"></i>
                <span>Agregar</span>
              </span>
            </button>
          }
        </div>
      </div>

      <!-- Filters -->
      <div
        data-aos="fade-left"
        data-aos-duration="1000"
        class="mt-2 lg:mt-4 flex flex-col md:flex-row items-stretch md:items-center justify-between gap-3 pt-4 border-t border-slate-100"
      >
        <div class="flex items-center flex-col lg:flex-row justify-between gap-2 lg:gap-6 w-full">
          @if (validPermission(permission.listMicrosite)) {
            <!-- Search -->
            <div class="relative w-full max-w-full lg:max-w-3xl text-sm">
              <span
                class="absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 pointer-events-none"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>

              <input
                [formControl]="searchInputControl"
                class="w-full h-10 pl-10 pr-10 py-2 rounded-lg font-normal leading-4 bg-white border border-slate-200 text-slate-700 placeholder-slate-400 focus:outline-none focus:ring-1 focus:ring-slate-500 focus:border-slate-500"
                placeholder="Buscar micrositio..."
                type="text"
              />

              @if (searchInputControl.value && searchInputControl.value !== '') {
                <button
                  type="button"
                  (click)="clearSearch()"
                  class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5 flex items-center justify-center rounded-full text-slate-400 hover:text-slate-600 hover:bg-slate-200 transition-colors cursor-pointer"
                  aria-label="Limpiar búsqueda"
                >
                  <i class="fa-solid fa-xmark text-[11px]"></i>
                </button>
              }
            </div>

            <!-- Status -->
            <div
              class="w-full lg:w-auto inline-flex items-center justify-center p-1 bg-slate-100/90 rounded-xl border border-slate-200/80 text-xs font-semibold text-slate-600"
            >
              <button
                [ngClass]="{
                  'bg-white text-slate-900  font-bold shadow-xs border border-slate-200/40':
                    this.statusControl.value === null,
                }"
                (click)="onChangeStatus(null)"
                class="cursor-pointer px-3.5 py-1.5 rounded-lg text-slate-600 hover:text-slate-900 transition-all flex items-center gap-1.5"
                type="button"
              >
                <span>Todos</span>
              </button>
              <button
                [ngClass]="{
                  'bg-white text-slate-900  font-bold shadow-xs border border-slate-200/40':
                    this.statusControl.value,
                }"
                (click)="onChangeStatus(true)"
                class="cursor-pointer px-3.5 py-1.5 rounded-lg text-slate-600 hover:text-slate-900 transition-all flex items-center gap-1.5"
                type="button"
              >
                <span class="inline-block w-2 h-2 rounded-full bg-emerald-500"></span>
                <span>Activos</span>
              </button>
              <button
                [ngClass]="{
                  'bg-white text-slate-900  font-bold shadow-xs border border-slate-200/40':
                    this.statusControl.value === false,
                }"
                (click)="onChangeStatus(false)"
                class="cursor-pointer px-3.5 py-1.5 rounded-lg text-slate-600 hover:text-slate-900 transition-all flex items-center gap-1.5"
                type="button"
              >
                <span class="inline-block w-2 h-2 rounded-full bg-slate-400"></span>
                <span>Inactivos</span>
              </button>
            </div>
          }
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="flex-1 min-h-0 flex flex-col overflow-hidden">
      @let records = microsities().records;

      @if (validPermission(permission.listMicrosite)) {
        <div class="flex-1 min-h-0 px-3 lg:px-6 py-3 pb-2 overflow-hidden mb-4">
          <div
            [class.max-h-100]="records.length === 0"
            class="w-full h-full min-h-0 bg-white border border-slate-200 shadow-xs overflow-hidden flex flex-col rounded-xl"
          >
            <!-- Table -->
            <div class="flex-1 min-h-0 overflow-x-auto overflow-y-auto">
              <table class="w-full min-w-200 text-left border-collapse text-xs">
                <thead>
                  <tr
                    class="rounded-xl sticky top-0 z-10 bg-slate-50/95 backdrop-blur-sm border-b border-slate-200 text-slate-600 font-semibold text-[11px] uppercase tracking-wider select-none"
                  >
                    <th class="px-4 py-3 text-left w-14">Acciones</th>
                    <th class="px-3 py-3 w-32">Nombre</th>
                    <th class="px-3 py-3 w-32">Descripción</th>
                    <th class="px-3 py-3 w-32">Ruta</th>
                    <th class="px-3 py-3 w-24">Estado</th>
                  </tr>
                </thead>

                <!-- Body -->
                <tbody class="divide-y divide-slate-100 font-normal text-slate-700">
                  <!-- RECORDS -->
                  @for (micrositie of records; track $index) {
                    <tr
                      class="border-slate-200 border-b hover:bg-slate-50/80 transition hover:border-l-4 hover:border-l-indigo-600 cursor-pointer"
                    >
                      <!-- Actions -->
                      <td class="px-4 py-2.5 whitespace-nowrap">
                        <div class="inline-flex items-center gap-1">
                          <button
                            (click)="openDetailsModal(micrositie)"
                            class="cursor-pointer p-1 rounded hover:bg-slate-200 text-slate-500 hover:text-slate-800 transition"
                            title="Más opciones"
                            type="button"
                          >
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </button>
                        </div>
                      </td>
                      <td class="px-4 py-2.5">
                        <div class="flex flex-col">
                          <span class="font-semibold text-slate-900 hover:text-slate-600">
                            {{ micrositie.name }}
                          </span>
                        </div>
                      </td>
                      <td class="px-4 py-2.5">
                        <div class="flex flex-col">
                          <span class="font-normal text-slate-900 hover:text-slate-600">
                            {{ micrositie.description }}
                          </span>
                        </div>
                      </td>
                      <td class="px-4 py-2.5">
                        <div class="flex flex-col">
                          <span class="font-normal text-slate-900 hover:text-slate-600">
                            {{ micrositie.path }}
                          </span>
                        </div>
                      </td>
                      <td class="px-3 py-2.5">
                        <span
                          [ngClass]="{
                            'text-emerald-700 bg-emerald-50 border border-emerald-200':
                              micrositie.status,
                            'text-red-700 bg-red-50 border border-red-200': !micrositie.status,
                          }"
                          class="inline-flex items-center gap-1 text-[11px] font-medium px-2 py-0.5 rounded-full"
                        >
                          @if (micrositie.status) {
                            <span class="w-1.5 h-1.5 rounded-full bg-emerald-500"></span>
                            Activo
                          } @else {
                            <span class="w-1.5 h-1.5 rounded-full bg-red-500"></span>
                            Inactivo
                          }
                        </span>
                      </td>
                    </tr>
                  } @empty {
                    <tr>
                      <td colspan="6">
                        <div
                          class="px-24 py-12 text-center flex flex-col items-center justify-center gap-2"
                        >
                          <div class="relative mb-6">
                            <div
                              class="w-20 h-20 rounded-2xl bg-linear-to-tr from-blue-50 to-indigo-100 flex items-center justify-center border border-blue-100 shadow-inner"
                            >
                              <i class="fa-solid fa-magnifying-glass text-indigo-500 fa-3x"></i>
                            </div>
                            <span
                              class="absolute -top-1 -right-1 w-3.5 h-3.5 rounded-full bg-amber-400 ring-4 ring-white"
                            ></span>
                            <span
                              class="absolute -bottom-1 -left-1 w-2.5 h-2.5 rounded-full bg-blue-400 ring-2 ring-white"
                            ></span>
                          </div>

                          <h2 class="text-xl font-bold text-slate-900 tracking-tight mb-2">
                            {{
                              searchInputControl.value
                                ? 'No se encontraron coincidencias para tu búsqueda'
                                : ' No se encontraron registros'
                            }}
                          </h2>
                          <p class="text-sm text-slate-500 max-w-md mx-auto leading-relaxed mb-6">
                            @if (searchInputControl.value) {
                              No existen resultados que coincidan con
                              <span class="font-medium text-slate-700">
                                “{{ searchInputControl.value }}”.
                              </span>
                              <br />
                              Intenta modificar tu búsqueda.
                            } @else {
                              No existen resultados. <br />
                              Intenta agregar un nuevo micrositio.
                            }
                          </p>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- PAGINATION -->
        @if (records.length > 0) {
          <div class="shrink-0 px-1 lg:px-6 pb-2">
            <pagination-component
              [page]="microsities().page"
              [limit]="limit()"
              [total]="microsities().total"
              [pages]="microsities().totalPage"
              (pageEvent)="onPageChange($event)"
              (limitEvent)="onLimitChange($event)"
            />
          </div>
        }
      } @else {
        <!-- Permission -->
        <div class="flex-1 min-h-0 flex items-center justify-center">
          <permission-component />
        </div>
      }
    </div>
  </section>
</div>
