<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="notificationsForm">
        <!-- Section -->
        <div class="w-full text-xl">Alertas</div>
        <div class="mt-8 grid w-full grid-cols-1 gap-6">
            <!-- Communication -->
            <div class="flex items-center justify-between">
                <div class="flex-auto cursor-pointer" (click)="communication.toggle()">
                    <div class="font-medium leading-6">Comunicación</div>
                    <div class="text-secondary text-md">
                        Obtenga noticias, anuncios y actualizaciones del sitio.
                    </div>
                </div>
                <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'communication'" #communication>
                </mat-slide-toggle>
            </div>
            <!-- Security -->
            <div class="flex items-center justify-between">
                <div class="flex-auto cursor-pointer" (click)="securityToggle.toggle()">
                    <div class="font-medium leading-6">Seguridad</div>
                    <div class="text-secondary text-md">
                        Reciba notificaciones importantes sobre la seguridad de su cuenta.
                    </div>
                </div>
                <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'security'" #securityToggle>
                </mat-slide-toggle>
            </div>

        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full text-xl">Actividad de la cuenta</div>
        <div class="mt-8 w-full font-medium">Envíame un correo electrónico cuando:</div>
        <div class="mt-4 grid w-full grid-cols-1 gap-4">
            <!-- Sitie -->
            <div class="flex items-center justify-between">
                <div class="flex-auto cursor-pointer leading-6" (click)="comments.toggle()">
                    Alguien modifica la información del sitio
                </div>
                <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'comments'" #comments>
                </mat-slide-toggle>
            </div>
            <!-- Parameters -->
            <div class="flex items-center justify-between">
                <div class="flex-auto cursor-pointer leading-6" (click)="inquiry.toggle()">
                    Alguien modifica la información de parámetros
                </div>
                <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'inquiry'" #inquiry>
                </mat-slide-toggle>
            </div>
            <!-- Pages -->
            <div class="flex items-center justify-between">
                <div class="flex-auto cursor-pointer leading-6" (click)="pages.toggle()">
                    Tienes páginas por revisar
                </div>
                <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'inquiry'" #pages>
                </mat-slide-toggle>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">Cancelar</button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'">
                Guardar
            </button>
        </div>
    </form>
</div>